* {
    font-family: 'Noto Sans', 'Noto Sans JP', '游ゴシック', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
}

td,
th,
table {
    border: 1px black solid;
    text-align: center;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}

div#res_box {
    border: 3px double black;
    padding: 1em;
}

div#res_box ul li {
    border-bottom: 1px solid red;
    margin: 0.5em 1em;
}